* {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans', sans-serif;
}

.title {
  color: #509E2F;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.text-card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-size: 13px;
}

