* {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans', sans-serif;
}

.p-home {
  padding: 100px;
}

.food-gallery {
  position: relative;
  overflow: hidden;
}

.img-gallery {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: all 0.4s;
}

.food-btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.food-gallery:hover .img-gallery {
  opacity: 0.5;
}

.food-gallery:hover .food-btn {
  opacity: 1;
}

@media (max-width: 768px) {
  .p-responsive {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.underline {
    text-decoration-line: underline;  
  }
